<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277543865694-h3749tkqdasuqalndpibfqj5dff4mu7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277543865694-h3749tkqdasuqalndpibfqj5dff4mu7n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>277543865694-t6p1hchsbdt7cnbac2jgp8rrg10vq5s2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSHFukflgFIDXzT1tP-Gxdoai0lAPUWe0</string>
	<key>GCM_SENDER_ID</key>
	<string>277543865694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EaseNote</string>
	<key>PROJECT_ID</key>
	<string>easenote-f0e3d</string>
	<key>STORAGE_BUCKET</key>
	<string>easenote-f0e3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277543865694:ios:da692fc7b6fbdd47c8d3cf</string>
</dict>
</plist>